.chat {
    height: 100%;
}

.content--user {
    display: flex;
    padding: 15px 2px;
    border-bottom: solid 1px #7D671A;
    background-color: #e3bc8a8d;
}

.content--user a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: initial;
}

.contente--imagen__profile {
    width: 4rem;
    height: 4rem;
}

.contente--imagen__profile img {
    width: 100%;
    border-radius: 50%;
}

.user--names {
    width: 100%;
}

[class^='user--names__'] {
    text-align: right;
    margin-right: 1rem;
    font-size: 1.3rem;
}

.usersConversations {
    display: flex;
    background-color: #B09C5A;
}

.usersConversations>div {
    width: 50%;
    text-align: center;
}

.visiblesection {
    border-bottom: solid 3px #C6E3E6;
}

.content--lists {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.content--lists>div {
    flex: 0 0 100%;
    scroll-snap-align: center;
}

.conversations_img {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
}

.conversations_img > img {
    width: 100%;
    border-radius: 50%;
}


.conversations__info {
 width: 70%;
}

.dateAndCheck {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.container-check {
    position: relative;
    left: 5px;
}

.check.icon {
    color: #000;
    position: absolute;
    margin-left: 3px;
    margin-top: 4px;
    width: 14px;
    height: 8px;
    border-bottom: solid 1px currentColor;
    border-left: solid 1px currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#right {
    display: none;
}

#left {
    display: none;
}

@media (min-width: 1024px){
#right {
    position: fixed;
    top: 45%;
    right: 0;
    width: 35px;
    height: 45px;
    z-index: 30;
    background-color: #7d671abd;
    box-shadow: 0px 0px 3px #000;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    display: block;
}

#left {
    position: fixed;
    top: 45%;
    left: 0;
    width: 35px;
    height: 45px;
    z-index: 30;
    background-color: #7d671abd;
    box-shadow: 0px 0px 3px #000;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    display: none;
}
}