/* .App {
    height: 100vh;
} */

.block {
    display: block;
}

.tcenter {
    text-align: center;
}

.noneOutline {
    outline: none;
}

.mb10 {
    margin-bottom: 10px;
}

.displayNone {
    display: none;
}

.fontBold {
    font-weight: bold;
}